# Checkpoints folder. Actually, they should be committed.
# checkpoints/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db 